Vagrant.configure(2) do |config|
  config.ssh.insert_key = false
  config.ssh.username = 'root'
  config.ssh.password = 'HeyH0Password'
  config.ssh.shell = '/bin/sh'
  config.vm.provider 'libvirt' do |lv, config|
    lv.cpu_mode = 'host-passthrough'
    lv.nested = true
    lv.keymap = 'pt'
    lv.disk_bus = 'ide'
    lv.nic_model_type = 'e1000'
    lv.video_type = 'vga'
    config.vm.synced_folder '.', '/vagrant', disabled: true
  end
end
